PB_HTTP=https://8090--019c2509-9f47-780c-a6ce-015cccdbb7be.us-east-1-01.gitpod.dev
PB_DATA_DIR=../pb_data
PB_MIGRATIONS_DIR=../pb_migrations
PB_HOOKS_DIR=../pb_hooks
PB_ORIGINS=https://*.app.github.dev,http://localhost:5173
PB_HOOKS_WATCH=true
PB_HOOKS_POOL=15
POCKETBASE_ADMIN_EMAIL=ddinsmore8@gmail.com
POCKETBASE_ADMIN_PASSWORD=MADcap(123)