PB_HTTP=http://127.0.0.1:8090
PB_DATA_DIR=../pb_data
PB_URL=http://127.0.0.1:8090
PB_MIGRATIONS_DIR=../pb_migrations
PB_HOOKS_DIR=../pb_hooks
PB_ORIGINS=http://localhost:5173,https://*.app.github.dev,https://*.githubpreview.dev
PB_HOOKS_WATCH=true
PB_HOOKS_POOL=15
